FINGERPRINT_KEY=VC6v8iWsGP3hsPGT5gTPYAQTiMSdWIPNkTB9jhEwtWE=
KEY_ENDPOINT_SECRET=PyXeIdCuVs0gf5m4P6lLHPUqxOBwYCAC5e0hTuuo7qE=
DB_USER=postgres
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432
DB_NAME=agdbk_biometry_poc
